<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div class="container">
        <h1>Signup</h1>
        <form action="/signup" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required class="form-control"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required class="form-control"><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required class="form-control"><br>
            <button type="submit" class="btn btn-primary">Signup</button>
        </form>
        <p class="login-link">Already have an account? <a href="/">Login</a></p>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
